<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<style>
    #grad1 {
      height: 18px;
      background-image: linear-gradient(to top, rgba(0, 102, 255, 0), rgb(0, 110, 255));
    }
    </style>
<body >
    <!--  <div id="grad1"></div> 
    <div style="text-align: center;font-family:'Comic Sans MS', cursive, sans-serif;font-size: 30px;">
        <p>Welcome to recipeze</p>
        <p>Search for any recipe you wish.</p>
        <p style="position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;">Let's Begin</p>
        <p></p>
       

        <br><br>
    </div>
 -->

 
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main-slide" data-slide-to="0" class="active"></li>
          <li data-target="#main-slide" data-slide-to="1"></li>
          <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/Carousel/homeimg1.jpg" alt="First slide" style="width: 1920px; height:700px">
            <div class="carousel-caption d-md-block">
              <p class="fadeInUp wow" data-wow-delay=".6s">100%</p>
              <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Easiest Way To Find Your Recipe</h1>
              <a href="#" class="fadeInLeft wow btn btn-common btn-lg" data-wow-delay=".6s">Get Started</a>
              <a href="#" class="fadeInRight wow btn btn-border btn-lg" data-wow-delay=".6s">Explore More</a>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/Carousel/homeimg2.jpg" alt="Second slide" style="width: 1920px; height:700px">
            <div class="carousel-caption d-md-block">
              <p class="fadeInUp wow" data-wow-delay=".6s">Recipeze Invites You To Experience The Food  </p>
              <h1 class="wow bounceIn heading" data-wow-delay=".7s">From Your Point Of View</h1>
              <a href="#" class="fadeInUp wow btn btn-border btn-lg" data-wow-delay=".8s">Set Your Sensitivities</a>
              <a href="#" class="fadeInUp wow btn btn-border btn-lg" data-wow-delay=".8s">Learn More</a>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/Carousel/homeimg3.jpg" alt="Third slide" style="width: 1920px; height:700px">
            <div class="carousel-caption d-md-block">
              <p class="fadeInUp wow" data-wow-delay=".6s">Want To Enrich Your Cooking Knowledge?</p>
              <h1 class="wow fadeInUp heading" data-wow-delay=".6s"></h1>
              <a href="#" class="fadeInUp wow btn btn-common btn-lg" data-wow-delay=".8s">Some Of The Experts</a>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="assets/Carousel/homeimg4.jpg" alt="Third slide" style="width: 1920px; height:700px">
            <div class="carousel-caption d-md-block">
              <p class="fadeInUp wow" data-wow-delay=".6s"></p>
              <h1 class="wow fadeInUp heading" data-wow-delay=".6s">Wanna Open The Last Recipe You Were Looking For?</h1>
              <a href="#" class="fadeInUp wow btn btn-common btn-lg" data-wow-delay=".8s">Click Here!</a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
          <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
          <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- Main Carousel Section End -->



      
</body>

</html>