<div>
<!--    <div id="grad1"></div>
 -->    <button [disabled]="inOrOut==true" (click)="addRecipeToCookbook(recipe)" style="background-color:rgb(209, 113, 61);border-color: white; width: 200px;
        height:40px;border-radius: 4px;text-align: center;">add recipe to my cookbook</button>
    <label *ngIf="inOrOut==true" >recipe exist in your cookbook</label>
    <h1>{{recipe.RecipeName}}</h1>
    <img src={{recipe.PictureSource}} />
    <h3>Ingredients</h3>
    <li *ngFor="let Ingredient of recipe.Ingredients">{{Ingredient}}</li>
    <h3>Method</h3>
    <li *ngFor="let method of recipe.Method">{{method}}</li>
</div>
<style>
    #grad1 {
      height: 18px;
      background-image: linear-gradient(to top, rgba(0, 102, 255, 0), rgb(0, 110, 255));
    }
    </style>




 <!-- <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    
    <ng-template #longContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template> -->
   