<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  #grad1 {
    height: 18px;
    background-image: linear-gradient(to top, rgba(0, 102, 255, 0), rgb(0, 110, 255));
  }
</style>

<body>

  <!-- popup modal -->
  <ng-template #mymodal let-modal>
    <div class="modal-header" style="color: black;">
      <h4 class="modal-title" id="modal-basic-title">{{currentRecipe.RecipeName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" style="color: black;">
      <img src={{currentRecipe.PictureSource}} />
      <h3>Ingredients</h3>
      <li *ngFor="let Ingredient of currentRecipe.Ingredients">{{Ingredient}}</li>
      <h3>Method</h3>
      <li *ngFor="let method of currentRecipe.Method">{{method}}</li>
    </div>
    <div class="modal-footer">
      <button [disabled]="inOrOut==true" (click)="addRecipeToCookbook(currentRecipe)" style="background-color:rgb(209, 113, 61);border-color: white; width: 200px;
      height:40px;border-radius: 4px;text-align: center;">add recipe to my cookbook</button>
      <label *ngIf="inOrOut==true">recipe exist in your cookbook</label>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
  <!-- end popup modal-->



  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Recipes</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">click any recipe to view</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let recipe of recipes">
          <div class="about-item">
            <img class="img-fluid" src={{recipe.PictureSource}} alt=""
              style="width: 268px; height: 268px;margin-left: 5px; margin-right: 5px;">
            <div class="about-text">
              <h3><a (click)="open(mymodal, recipe)">{{recipe.RecipeName}}</a></h3>
              <a class="btn btn-common btn-rm" (click)="open(mymodal, recipe)" style="color: black;">Let's Cook</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- <div *ngFor="let recipe of recipes">
    <button (click)="open(mymodal, recipe)">
      <div class="card" style="width: 150px;">
        <img src={{recipe.PictureSource}} alt="Avatar" style="width:150px">
        <div class="container1">
          <h4><b>{{recipe.RecipeName}}</b></h4>
        </div>
      </div>
    </button>
  
  </div> -->
</body>

</html>