<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  #grad1 {
    height: 18px;
    background-image: linear-gradient(to top, rgba(0, 102, 255, 0), rgb(0, 110, 255));
  }
</style>

<body>
  <!-- <div id="grad1"></div>
 -->
  <!-- <p-dataView [value]="recipes">

        <ng-template let-recipe pTemplate="listItem"> -->
  <!-- *ngFor='let recipe of recipes'-->
  <!-- <div class="p-col-12 p-md-3">
                <label>{{recipe.RecipeName}}</label>
                <img src={{recipe.PictureSource}} style="width:268px;height: 268px;">
                <button (click)="showRecipe(recipe)">Show recipe</button>
            </div>
        </ng-template>
    </p-dataView> -->

  <!-- [loading]="loading" -->
  <!-- <p-dataView [value]="recipes" [paginator]="true" [rows]="10" >
        <p-header>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            Asraf
        </p-header>
        <p-footer>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            Gal
        </p-footer>
        <ng-template let-recipe pTemplate="listItem">
            <div>
                {{recipe.RecipeName}}
            </div>
        </ng-template>
        <ng-template let-recipe pTemplate="gridItem">
            <div class="p-col-12 p-md-3">
                <img src={{recipe.pictureSource}}>
            </div>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
            {{state.first}}
            <button type="button" pButton icon="pi-refresh"></button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <button type="button" pButton icon="pi-cloud-upload"></button>
        </ng-template>
        <ng-template let-item pTemplate="paginatordropdownitem">
            {{item.value}} - per page
        </ng-template>
    </p-dataView> -->


  <!-- popup modal -->
  <ng-template #mymodal let-modal style="background-color: pink;">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{currentRecipe.RecipeName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <img src={{currentRecipe.PictureSource}} />
      <h3>Ingredients</h3>
      <li *ngFor="let Ingredient of currentRecipe.Ingredients">{{Ingredient}}</li>
      <h3>Method</h3>
      <li *ngFor="let method of currentRecipe.Method">{{method}}</li>     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>






  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Recipes</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">click any recipe to view</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let recipe of recipes">
          <div class="about-item">
            <img class="img-fluid" src={{recipe.PictureSource}} alt=""
              style="width: 268px; height: 268px;margin-left: 5px; margin-right: 5px;">
            <div class="about-text">
              <h3><a href="#">{{recipe.RecipeName}}</a></h3>
              <p></p>
              <a class="btn btn-common btn-rm" (click)="open(mymodal, recipe)">Let's Cook</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->

  <div *ngFor="let recipe of recipes">
    <button (click)="open(mymodal, recipe)">
      <div class="card" style="width: 150px;">
        <img src={{recipe.PictureSource}} alt="Avatar" style="width:150px">
        <div class="container1">
          <h4><b>{{recipe.RecipeName}}</b></h4>
        </div>
      </div>
    </button>
    <!-- <div class="card">
      <div class="card-header" id="headingOne">
        <div class="header-title" data-toggle="collapse" data-target="#questionOne" aria-expanded="true"
          aria-controls="collapseOne">
          <i class="lni-pencil"></i> view recipe
        </div>
      </div>
      <div id="questionOne" class="collapse" aria-labelledby="headingOne" data-parent="#question">
        <div class="card-body">
          <span>Gal Asraf</span> -->
    <!-- <h1>{{recipe.RecipeName}}</h1>
          <img src={{recipe.PictureSource}} />
          <h3>Ingredients</h3>
          <li *ngFor="let Ingredient of recipe.Ingredients">{{Ingredient}}</li>
          <h3>Method</h3>
          <li *ngFor="let method of recipe.Method">{{method}}</li> -->
    <!-- </div>
      </div>
    </div> -->
    <!-- the current recipe-->
    <!-- <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{recipe.RecipeName}}</h4>
        <img src={{recipe.PictureSource}} alt="Avatar" style="width:150px">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Ingredients</h3>
        <li *ngFor="let Ingredient of recipe.Ingredients">{{Ingredient}}</li>
        <h3>Method</h3>
        <li *ngFor="let method of recipe.Method">{{method}}</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template> -->
    <!-- end current recipe-->
    <!-- <ng-template #longContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
          consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openScrollableContent(longContent)">Modal scrollable
      content</button>
      -->
  </div>
</body>

</html>