body{
   /*  font-family: "Comic Sans MS", cursive, sans-serif;
    color: white; */
}
.form-group{
   /*  width:400px */
}
.field-icon {
   float: right;
   margin-left: -25px;
   margin-top: -25px;
   position: relative;
   z-index: 2;
 }