<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: rgba(71, 71, 71, 0.5);">

    
<div class="container">
    <h2>Login</h2>
    <form class="form-horizontal" [formGroup]="loginForm" (submit)="getUserExist()">
        <div class="form-group">
            <label>email: </label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label> password: </label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div> <input type="submit" class="btn btn-success" value="login" style="background-color: rgb(209, 113, 61);margin-right:  10px;border-color: white;">
            <a [routerLink]="['/register']" class="btn btn-success" style="background-color:rgb(209, 113, 61) ;border-color: white;"> new user </a>
        </div>
    </form>
</div>
   
</body>
</html>