<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
<div class="container">
    <h2>Registration</h2>
    <form class="form-horizontal" [formGroup]="loginForm" (submit)="getUserExist()">
        <div class="form-group">
            <label> user name: </label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label> password: </label>
            <input type="password" class="form-control" formControlName="password">
        </div>

        <div> <input type="submit" class="btn btn-success" value="Signed up!">
            <a [routerLink]="['/register']" class="btn btn-success"> new user </a>
        </div>
    </form>
</div>
   
</body>
</html>

<!-- <!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="col-sm-offset-2 col-sm-10">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"
            class="btn btn-success">already a user? Sign in</button>
    </div>
    <div id="id01" class="modal">

        <!--  (submit)="getUserExist()"
           take log-in process from google
        -->
        <!--<form class="modal-content animate" action="/action_page.php" method="post"  >
           

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Sign in</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div> -->

    <!-- <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script> -->
<!-- 
<div>
    to do: <br> 1.When user signs in, check if user exists. <br> 2.after signs in a page for defining his allergies should appear. <br>
</div> -->







<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>

<body>
    <div class="container">
        <h2>Registration</h2>
        <form class="form-horizontal" [formGroup]="userForm" (submit)="addUser()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                    <input class="form-control" formControlName="name" id="name" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input class="form-control" formControlName="email" id="email" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" formControlName="password" id="password" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="confirmPassword">Confirm Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" formControlName="confirmPassword"
                        id="confirmPassword" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" [disabled]="!userForm.valid" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
   
</body>

</html>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <title>login</title>
</head>

<body>
    <form class="modal-content animate" action="/action_page.php"  method="post">
        <div>
            <div class="col-sm-offset-2 col-sm-10">
                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"
                    class="btn btn-success" routerLink="login"> already a user? Sign in</button>
            </div>
            <div id="id01" class="modal">
            </div>
        </div>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Sign in</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                class="cancelbtn">Cancel</button>
            <span class="psw"> <a href="#">Forgot password?</a></span>
        </div>
    </form>
   
  
   
    <div>
        to do: <br> 1.When user signs in, check if user exists.
         <br>
          2.after signs in a page for defining his allergies
        should appear. <br>
    </div>
</body>

</html> -->

