body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  #logo {
    position:absolute;
    left:0%;
}
* {
    padding: 0;
    margin: 0;
}
nav{

    background-color: rgb(145, 207, 207);
    text-align: right;
    padding: 0;
    margin: 0;
    position: fixed;;
  width: 100%;
  display:inline-block;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    padding-top: 1px;
}
