body {
    background-image: url('darkfood.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

  #logo {
    position:absolute;
    left:0%;
}
* {
    padding: 0;
    margin: 0;
}


