 body{
    text-align: center;
background: none;
color: black;

font-weight: 400;
    font-family: 'Lato', sans-serif;
 }
p{
    margin-bottom: 0px;
}
.custom-select {
    position: relative;
    font-family: cursive;
    background-color: rgb(209, 113, 61);
    font-size: 20px;
  }
  input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 40%;
    color: #E91E63;
  }
