<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoies</title>
</head>

<body>
    <br>

    <form (submit)="googleSearch()">
        <div>
            <div *ngFor="let category of categoriesToSelect; let j=index" class="custom-select" style="width:200px">
                <select (change)="selectChangeHandler($event,j)">
                    <option value="202" disabled selected>Select category:</option>

                    <option [value]="subCategory.CategoryId" *ngFor="let subCategory of category;let i=index ">
                        <label>
                            <p>{{subCategory.CategoryName}}</p>
                        </label>
                    </option>
                </select>
            </div>
        </div>


        <!-- I put the search button in google's link-->
        <!-- <script async src="https://cse.google.com/cse.js?cx=685741d92eef1307f"></script>
        <div class="gcse-search">
            <button type="submit">search</button>
        </div> -->
    </form>


    <!-- a button that leads to the allergies-->
    <div>
        <input type="button" class="btn btn-primary" value="allergies" routerLink="allergies"
            routerLinkActive="activelink">
    </div>

    <h4>categories</h4>

    <div>
        <div *ngFor="let category of categories;let i=index ">
            <p>{{categories[i].CategoryName}} </p>

        </div>
    </div>
</body>

</html>


<!-- 

<br>
for full tutorial on how to create and custom the select menu visit: <br>
https://www.w3schools.com/howto/howto_custom_select.asp

<br> -->

<!-- {{selectedFirstValue}}
        <div>
            <div class="custom-select" style="width:200px;">
                <select (change)="secondSelect($event)">
                    <option value="202">Select category:</option>
                    <div *ngFor="let category of categories;let i=index ">
                        <option *ngIf="category.MasterCategoryId == selectedFirstValue.CategoryId">
                            <label>
                                <p value=i>{{categories[i].CategoryName}}</p>
                            </label>
                        </option>
                        <option>Leah</option>
                    </div>
                </select>
            </div>
        </div>
        {{selectedSecondValue}}


        <div>
            <div class="custom-select" style="width:200px">
                <select (change)="thirdSelected($event)">
                    <option value="202">Select food:</option>
                    <option *ngFor="let category of categories;let i=index ">
                        <label *ngIf="category.MasterCategoryId == selectedSecondValue.CategoryId">
                            <p value=i>{{categories[i].CategoryName}}</p>
                        </label>
                    </option>
                </select>
            </div>
        </div> -->







<!-- 
    <h4>allergies</h4>
    <div>
        <div *ngFor="let allergy of allergies;let i=index ">
            <p>{{allergies[i].AllergyName}} </p>
            
        </div>
    </div> -->

<!-- {{categories[0].CategoryName}}   -->


<!-- <script async src="https://cse.google.com/cse.js?cx=000888210889775888983:y9tkcjel090">
        const myInitCallback = function () {
            if (document.readyState == 'complete') {
                // Document is ready when Search Element is initialized.
                // Render an element with both search box and search results in div with id 'test'.
                google.search.cse.element.render(
                    {
                        div: "test",
                        tag: 'search'
                    });
            } else {
                // Document is not ready yet, when Search Element is initialized.
                google.setOnLoadCallback(function () {
                    // Render an element with both search box and search results in div with id 'test'.
                    google.search.cse.element.render(
                        {
                            div: "test",
                            tag: 'search'
                        });
                }, true);
            }
        };

        // Insert it before the Search Element code snippet so the global properties like parsetags and callback
        // are available when cse.js runs.
        window.__gcse = {
            parsetags: 'explicit',
            initializationCallback: myInitCallback
        };
    </script> -->
<!--  <div class="gcse-search"></div>
    <div class="gcse-searchbox-only" data-resultsUrl="http://www.google.com" data-newWindow="true"
        data-queryParameterName="search">
        <div class="gcse-searchbox" data-enableHistory="true" data-autoCompleteMaxCompletions="5"
            data-autoCompleteMatchType='any'>
            <div class="gcse-searchresults" data-refinementStyle="link">

                <div id="test"></div> -->

<!-- 
</body>
</html>
 -->


<!-- 
<div>
    <div class="custom-select" style="width:200px">
        <select (change)="selectChangeHandler($event)">
            <option value="202">Select category:</option>
            <option *ngFor="let category of categories;let i=index ">
                <label *ngIf="category.MasterCategoryId == null">
                    <p value=i>{{categories[i].CategoryName}}</p>
                </label>
            </option>
        </select>
    </div>
</div>

<div>
    <div class="custom-select" style="width:200px;">
        <select (change)="secondSelect($event)">
            <option value="202">Select category:</option>

            <option *ngFor="let category of categories;let i=index ">
                <label *ngIf="category.MasterCategoryId == selectedFirstValue.CategoryId">
                    <p value=i>{{categories[i].CategoryName}}</p>
                </label>
            </option>
        </select>
    </div>
</div>

<div>
    <div class="custom-select" style="width:200px">
        <select (change)="thirdSelected($event)">
            <option value="202">Select food:</option>
            <option *ngFor="let category of categories;let i=index ">
                <label *ngIf="category.MasterCategoryId == selectedSecondValue.CategoryId">
                    <p value=i>{{categories[i].CategoryName}}</p>
                </label>
            </option>
        </select>
    </div>
</div> -->




<!-- 
<form [formGroup]="form" (ngSubmit)="submit()">
   
    <div *ngFor="let category of categories; let i=index">
        <div>
            <label formArrayName="categories" >
                <input type="checkbox" [formControlName]="i">
    
                <p>{{category[i].CategoryName}}</p>
            </label>
            <input type="checkbox" [formControlName]="i" value="{{category[i].CategoryName}}">
            {{category[i].CategoryName}}
        </div >
        
    </div>

</form> -->