<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoies</title>
</head>
<style>
    #grad1 {
      height: 18px;
      background-image: linear-gradient(to top, rgba(0, 102, 255, 0), rgb(0, 110, 255));
    }
    </style>
<body>
    <div id="grad1"></div>

    <!-- <form [formGroup]="CategoriesForm" (submit)="googleSearchByText()">
        <div class="p-inputgroup" class="p-input-filled">
            <span class="p-input-icon-left">
                <i class="pi pi-search" style="font-size: 2rem;"></i>
            </span>
            <input type="text" pInputText placeholder="Search" class="p-inputtext-lg" placeholder="Large"
                formControlName="search" id="search">

        </div>
        <p-button type="submit" label="Search" icon="pi pi-search" iconPos="right" class="p-button-text p-button-text">
        </p-button>


        <h1>treat my sensitivity</h1>
        <input type="checkbox" (change)="TreatSensitivity()" value="do you want to treat your sensitivity?">
        <div *ngIf="checked">
            <ul *ngFor="let sens of allergies;let i=index ">
                <label class="container" style="font-size: 20px;">{{allergies[i].AllergyName}}
                    <input type="checkbox" [value]="allergies[i].AllergyName" id={{allergies[i].AllergyName}}
                        (change)="toggleAllergy(allergies[i].AllergyCode)">
                </label>
            </ul>
        </div>
    </form> -->

    <form (submit)="googleSearch()">

        <!--
            we have to fix it, that it won't open to many selects, just 3.
        -->
        <div>
            <br><br><br><br>
            <div *ngFor="let category of categoriesToSelect; let j=index" class="custom-select" style="width:230px">
                <select (change)="selectChangeHandler($event,j)">
                    <option value="202" disabled selected> Select category: &nbsp;</option>

                    <option [value]="subCategory.CategoryId" *ngFor="let subCategory of category;let i=index ">
                        <label>
                            <p>{{subCategory.CategoryName}}</p>
                        </label>
                    </option>
                </select>
            </div>
        </div>


        <h1>treat my sensitivity</h1>
        <input type="checkbox" (change)="TreatSensitivity()" value="do you want to treat your sensitivity?">
        <div *ngIf="checked">
            <ul *ngFor="let sens of allergies;let i=index ">
                <label class="container" style="font-size: 20px;">{{allergies[i].AllergyName}}
                    <input type="checkbox" [value]="allergies[i].AllergyName" id={{allergies[i].AllergyName}}
                        (change)="toggleAllergy(allergies[i].AllergyCode)">
                </label>
            </ul>
        </div>
        <br>

        <button type="submit"
            style="background-color:rgb(209, 113, 61) ;border-color: white; width: 100px;height:40px;border-radius: 4px;">Search</button>
        <br><br><br>




    </form>


    <!-- <div>
        <h4>categories</h4>

        <div>
            <div *ngFor="let category of categories;let i=index ">
                <p>{{categories[i].CategoryName}} </p>

            </div>
        </div>
    </div> -->
</body>

</html>