<br><br> <br>


<!-- popup modal -->
<ng-template #mymodal let-modal style="background-color: pink;">
  <div class="modal-header" style="color: black;">
    <h4 class="modal-title" id="modal-basic-title">{{currentRecipe.RecipeName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" style="color: black;">
    <img src={{currentRecipe.PictureSource}} style="width: 310px; height: 310px;"/>
    <h3>Ingredients</h3>
    <li *ngFor="let Ingredient of currentRecipe.Ingredients">{{Ingredient}}</li>
    <h3>Method</h3>
    <li *ngFor="let method of currentRecipe.Method">{{method}}</li>
  </div>
  <div class="modal-footer">
    <button (click)="deleteRecipeFromCookbook(currentRecipe)" (click)="modal.close('Save click')" style="background-color:rgb(209, 113, 61);border-color: white; width: 200px;
    height:40px;border-radius: 4px;text-align: center;">delete recipe</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<!-- <div>
  <div *ngFor="let recipe of cookbookList">
    <h1>{{recipe.RecipeName}}</h1>
    <h1>{{recipe.PictureSource}}</h1>
    <h3>Ingredients</h3>
    <li *ngFor="let i of recipe.Ingredients">{{i}}</li>
    <h3>Instructions</h3>
    <li *ngFor="let i of recipe.Method">{{i}}</li>
    <button (click)="removeRecipeFromCookbook(recipe)" style="background-color:rgb(209, 113, 61);border-color: white; width: 200px;
        height:40px;border-radius: 4px;text-align: center;">remove recipe</button>
  </div>
</div> -->
<div class="col-12">
  <div class="section-title-header text-center">
    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">My Cookbook</h1>
    <p class="wow fadeInDown" data-wow-delay="0.2s">View your saved recipes from your cookbook</p>
  </div>
</div>

<div class="content" role="main" style="width: 100%;">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Search a Recipe</label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="Enter text to search a recipe from your cookbook" autofocus>
    </div>
    <ul class="list-group list-group-flush">
      <!-- results of ngFor is passed to appFilter with argument searchText -->
      <li class="list-group-item" *ngFor="let c of cookbookToShow | appFilter: searchText" appHighlight
        [searchedWord]="searchText" [content]="c.RecipeName" [classToApply]="'font-weight-bold'" [setTitle]="'true'"
        (click)="open(mymodal, c)">
        {{c.RecipeName}}
      </li>

    </ul>
  </div>
</div>

