<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <title>Document</title>
</head>

<body >
    
    <!-- <app-add-user></app-add-user> -->
    <!-- <app-categories></app-categories> -->
   <!--  <nav class="nav"> -->
        <ul class="nav nav-pills" style="text-align: center;">
            <!--   <li class="nav-link"><a routerLink="register" routerLinkActive="activeLink">register</a></li>-->
            <li  *ngIf="userLogedIn()" class="nav-link"><a routerLink="login" routerLinkActive="activeLink">login</a></li>
            <li  *ngIf="!userLogedIn()" class="nav-link"><a (click)="logOut()"  routerLinkActive="activeLink">login</a></li>

            <li class="nav-link"><a routerLink="category" routerLinkActive="activeLink">categories</a></li>
            <li class="nav-link"><a routerLink="allergies" routerLinkActive="activeLink">define allergies</a></li>
            <label>{{isLogin}}</label>
            
        </ul>
   <!--  </nav> -->
</body>

</html>

<router-outlet></router-outlet>